# This file defines code owners for this repository.
# All changes require approval from the repository owner.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in this repo
* @mruthyunjaya-lakkappanavar
